<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
   
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleSign.css' %}">

    <title>Student Model</title>
  </head>
  <body>
    <div id="message-container">
      {% if messages %}
          {% for message in messages %}
           <div class="message {{ message.tags }}">{{ message }}</div>
          {% endfor %}
      {% endif %}
  </div>

  <div class="parent">
    <img src="./../static/assets/lOGO.png" alt="" width="450px">
    <div class="wraapper">
     
      <div class="form-box login">
        <h2>login</h2>
        <form action="login" method="POST">
          {%csrf_token%}
          <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="text" name="username" id="username" required />
            <label>Name</label>
          </div>
          <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password"name="password" id="password"  required />
            <label>password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox" />remember me</label>
            <a href="#">forgot password?</a>
          </div>
          <button type="submit" class="btn">login</button>
          <div class="login-register">
            <p>
              dont have an account?  <a href="{% url 'signup' %}" class="register-link"
                >Register</a
              >
              
            </p>
          </div>
        </form>
      </div>
      <!----------------------------------------------->
   
    </div>

    <script src="../static/sign.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </div>
  <footer>
    <p>Copyright &#169; 2024 <a href="https://www.instagram.com/codehubx/">codehubx</a>  All Rights Reserved.</p>
  </footer>
    
  </body>
</html>