
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html, body {
    background: #e2e2e2;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .container {
    background: #fff;
    width: 800px;
    height: 450px;
    border-radius: 24px;
    box-shadow: 16px 16px 8px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .picture-container {
  /*   border: 1px solid blue; */
    width: 50%;
    height: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form-container {
    height: 90%;
    width: 300px;
  }
  
  .contact-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  
  .form-header {
    font-size: 2em;
    font-weight: 700;
    align-self: flex-start;
  }
  
  .email-input {
    border: none;
    outline: none;
    background: #eee;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 100%;
  }
  
  .message {
    border: none;
    outline: none;
    resize: none;
    background: #eee;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 100%;
  }
  
  .submit {
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 20px;
    background: #eeda56;
    font-size: 100%;
    font-weight: 600;
    border-radius: 6px;
    transition: transform 300ms 0s cubic-bezier(0, 0.23, 0.29, 2.45);
  }
  
  .submit:hover {
    cursor: pointer;
    background: #f1d836;
    transform: translateY(-2px);
  }